<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="TradingTechnologies.TTAPI" publicKeyToken="423079B15FC884A6" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-7.0.1.109" newVersion="7.0.1.109"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
